<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <div th:text="${'ID: ' + person.getId()}"></div>
    <div th:text="${person.getName() + ', ' + person.getAge()}"></div>
    <div th:text="${'Email: ' + person.getEmail()}"></div>
    <div th:text="${'Address: ' + person.getAddress()}"></div>
    <br>
    <a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</body>
</html>